body,
h1,
h5,
p {
  font-family: "Jost", sans-serif;
}

body {
    padding-top: 60px;
  }

/* Quote styles */
.quote-mark {
    font-size: 2rem;
    color: white;
    margin-right: 10px;
  }
  
  .quote-content {
    font-size: 2rem;
    max-width: 800px;
  }
  
  .quote-content p {
    font-size: 1em;
  }


/* Carousel and overlay elements */
.pattern {
    width: 100%;
  }
  
  .artist-carousel {
    width: 600px;
    height: 300px;
    margin-bottom: 20rem;
  }
  
  .overlay-images {
    position: absolute;
    height: 100vh;
    display: flex;
    pointer-events: none;
  }
  