html {
  scrollbar-gutter: stable;
}

body,
h1,
h5,
p {
  font-family: "Jost", sans-serif;
}

body {
    padding-top: 60px;
  }

  body.no-scroll {
    overflow: hidden;
  }

/* Header */
.navbar {
  padding: 2rem 7.25rem !important;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: white !important;
}

button {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: -550px;
  height: 100%;
  width: 550px;
  background-color: black;
}

.newsletter-collapse {
  position: fixed;
  top: 0;
  left: -550px;
  height: 100%;
  width: 550px;
  background-color: black;
  z-index: 9999;
}

.newsletter-collapse.show {
  right: 0;
}

.nav-link {
  width: fit-content;
}

.nav-link:hover {
  color: #808080 !important;
}

.footer {
  background-color: #e889b1;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}

.newsletter-btn {
  background-color: #2038c6;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.social-icons {
  justify-content: end;
  display: flex;
  align-items: end;
  gap: 1.5rem;
}

.send-btn {
  background-color: #2038c6;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: bold;
}



/* Quote styles */
.quote-mark {
    font-size: 2rem;
    color: white;
    margin-right: 10px;
  }
  
  .quote-content {
    font-size: 2rem;
    max-width: 800px;
  }
  
  .quote-content p {
    font-size: 1em;
  }


/* Carousel and overlay elements */
.pattern {
    width: 100%;
  }
  
  .artist-carousel {
    width: 600px;
    height: 300px;
    margin-bottom: 20rem;
  }
  
  .overlay-images {
    position: absolute;
    height: 100vh;
    display: flex;
    pointer-events: none;
  }
  

/* Gallery Section index */
.middle-arc {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arc {
  width: auto;
  height: auto;
  z-index: 10;
}

.vertical-text {
  position: absolute;
  top: 70%;
  right: 5%;
  transform: translateY(-50%) rotate(270deg);
  font-size: 3rem;
  color: white;
  font-weight: bold;
  z-index: 10;
  pointer-events: none;
}

.carousel-slick {
  margin-top: 30rem;
}

.text-uppercase.text-black.text-center {
  display: none;
}





  /*STYLE DESIGNER*/
  .grid-item {
    height: 300px;
  }
  
  .grid-item img {
    object-fit: cover;
  }
  
  .designer-info {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .designer-box:hover .designer-info {
    opacity: 1;
  }
  
  .dropdown-item:hover{
    background-color: transparent !important;
  }
  
  

  /* Responsive Styles */
@media (max-width: 1200px) {
  .navbar {
    padding: 2rem 5rem !important;
  }

  .quote-content {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .quote-content p,
  .quote-content h5 {
    font-size: 1em;
  }

  .artist-carousel {
    width: 400px;
    height: 200px;
    margin-bottom: 12rem;
  }

  .mobile-gallery {
    background-color: #ff9300 !important;
  }

  .mobile-temple {
    background-color: #143554 !important;
    margin-top: 0 !important;
    justify-content: center !important;
    height: 60vh !important;
  }

  .carousel-slick {
    margin-top: 0rem;
  }
}


@media (max-width: 768px) {
  .navbar {
    padding: 2rem 1.5rem !important;
  }

  .quote-content {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .quote-content p,
  .quote-content h5 {
    font-size: 1em;
  }

  .vertical-text {
    font-size: 1.2em;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 1rem !important;
  }

  .navbar-collapse {
    width: 100vw;
    right: -100vw;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .newsletter-collapse {
    width: 100vw;
    left: -100vw;
  }

  .newsletter-collapse.show {
    left: 0;
  }

  .social-icons {
    justify-content: start;
    margin-top: 1rem;
  }

  .quote-content {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .quote-content p,
  .quote-content h5 {
    font-size: 1rem;
  }

  .vertical-text {
    font-size: 1em;
  }

  .carousel-item {
    width: 400px;
    height: 200px;
  }

  .mobile-gallery,
  .mobile-hero,
  .mobile-temple {
    height: 50vh !important;
  }

  .carousel-slick {
    margin-top: 0;
  }

  .artist-carousel {
    width: 300px;
    height: 150px;
    margin-bottom: 5rem;
  }

  .carousel-controls {
    display: none !important;
  }

}